body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: orange;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: aliceblue;
}

#tabla {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.entrada {
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acierto {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.cerca {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.erroneo {
    background-color: gray;
    color: white;
    border-color:white;
}


.filateclado {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.columtec {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filaentrada {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}